{% extends "layout.html" %}

{% block body_content %}
<h1>{{ title }}</h1>
<div class="form">
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <div class="form-group">    
            {{ form.song.label }}
            {{ form.song }}
            {% if form.song.errors %}
                <div class="error">
                    {% for error in form.song.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div> 
        
        {{ form.submit }}

    </form>
</div>
{% endblock body_content %}