{% extends "layout.html" %}

{% block body_content %}
<h1>{{ title }}</h1>
{% if playlist %}
        <p>Title:{{ playlist.title }}</a> Artist: {{ playlist.artist }}  Album: {{ playlist.album }}</p>
        <div>
            <form action="{{ url_for('delete_playlist', playlist_id=playlist.playlist_id) }}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
{% else %}
    <p>There are no playlists to display</p>
{% endif %}

<input type=button onClick=location.href="{{ url_for('newplaylist') }}" value='New playlist'>

{% endblock body_content %}