<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
{% extends "layout.html" %}

{% block body_content %}
{% if song %}
    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Song</th>
        </tr>
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
        </tr>
    </table>
        <div>
            <form action="{{ url_for('update_song', song_id=song.song_id) }}">
                <button type="submit">Update</button>
            </form>
        </div>
{% else %}
    <p>There are no songs to display</p>
{% endif %}

{% endblock body_content %}